In [1]:
from pandas import read_csv
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error
from sklearn.feature_selection import VarianceThreshold
from sklearn.ensemble import RandomForestRegressor

In [2]:
# load dataset, get dummies and drop ID column
dataset = read_csv(
    'C:/Users/Raeni/PycharmProjects/Spring2025/DSC630/Dataset/dataset.csv')
dataset.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [3]:
# load dataset, get dummies and drop ID column
dataset = read_csv('C:/Users/Raeni/PycharmProjects/Spring2025/DSC630/Dataset/dataset.csv')
dataset = pd.get_dummies(dataset,drop_first=True)
dataset.drop(columns=['Id'], inplace=True)

In [4]:
# check to see if the ID column got dropped
dataset.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,0,1,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,0,1,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,0,1,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,0,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,0,1,0,0,0,1,0

In [5]:
dataset.describe()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
count,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,46.549315,...,0.003425,0.003425,0.083562,0.002055,0.867808,0.002740,0.008219,0.013699,0.820548,0.085616
std,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,161.319273,...,0.058440,0.058440,0.276824,0.045299,0.338815,0.052289,0.090317,0.116277,0.383862,0.279893
min,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1474.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
# replace null values to 0
dataset.replace(np.NaN,0,inplace=True)
dataset.isnull().sum()

MSSubClass               0
LotFrontage              0
LotArea                  0
OverallQual              0
OverallCond              0
                        ..
SaleCondition_AdjLand    0
SaleCondition_Alloca     0
SaleCondition_Family     0
SaleCondition_Normal     0
SaleCondition_Partial    0
Length: 246, dtype: int64

In [7]:
# initial model creation with all features to get a baseline R2 Score, MAE, RMSE, and MSE
x = dataset.drop("SalePrice", axis=1)
y = dataset["SalePrice"]
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=18)

model = LinearRegression()
model.fit(x_train, y_train)

y_pred = model.predict(x_test)

In [8]:
print("R^2 Score:", r2_score(y_test, y_pred))
print("MAE:", mean_absolute_error(y_test, y_pred))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))
print("MSE:", mean_squared_error(y_test, y_pred))

R^2 Score: 0.8586917702734673
MAE: 18026.71183032192
RMSE: 30305.77363798688
MSE: 918439915.7969005

In [9]:
# reducing the variance threshold to get the highest R2 Score, MAE, RMSE, and MSE
x_train_reduced, x_test_reduced, y_train_reduced, y_test_reduced = train_test_split(x, y, test_size=0.2, random_state=18)

# initialize VarianceThreshold to remove useless features, in this case it removes features that have <= .01
selector = VarianceThreshold(threshold=0.01)
selector.fit(x_train_reduced)

# get features that were returned from the variance selector
# selector.get_support() returns a array of booleans, use loc to select the features 
x_train_reduced = x_train_reduced.loc[:, selector.get_support()]
x_test_reduced = x_test_reduced.loc[:, selector.get_support()]

# initialize linear regression model
model_reduced = LinearRegression()
model_reduced.fit(x_train_reduced, y_train_reduced)

# predict outputs
y_pred = model_reduced.predict(x_test_reduced)

In [10]:
print("R^2 Score:", r2_score(y_test_reduced, y_pred))
print("MAE:", mean_absolute_error(y_test_reduced, y_pred))
print("RMSE:", np.sqrt(mean_squared_error(y_test_reduced, y_pred)))
print("MSE:", mean_squared_error(y_test_reduced, y_pred))

R^2 Score: 0.8712679913082154
MAE: 19764.26348743131
RMSE: 28925.76943430883
MSE: 836700137.366795

In [11]:
x_train_reduced, x_test_reduced, y_train_reduced, y_test_reduced = train_test_split(x, y, test_size=0.2, random_state=42)

# initialize random forest regressor
model_reduced = RandomForestRegressor()
model_reduced.fit(x_train_reduced, y_train_reduced)

# predict outputs
y_pred = model_reduced.predict(x_test_reduced)

In [12]:
print("R^2 Score:", r2_score(y_test_reduced, y_pred))
print("MAE:", mean_absolute_error(y_test_reduced, y_pred))
print("RMSE:", np.sqrt(mean_squared_error(y_test_reduced, y_pred)))
print("MSE:", mean_squared_error(y_test_reduced, y_pred))

R^2 Score: 0.8831407526623769
MAE: 17924.872020547944
RMSE: 29939.08060388517
MSE: 896348547.4059331

In [13]:
x_train_reduced, x_test_reduced, y_train_reduced, y_test_reduced = train_test_split(x, y, test_size=0.2, random_state=42)

selector = VarianceThreshold(threshold=0.01)
selector.fit(x_train_reduced)

x_train_reduced = x_train_reduced.loc[:, selector.get_support()]
x_test_reduced = x_test_reduced.loc[:, selector.get_support()]
# repeat the same steps as above instead of a linear regression model, initialize a random forest regressor

# initialize random forest regressor
model_reduced = RandomForestRegressor()
model_reduced.fit(x_train_reduced, y_train_reduced)

# predict outputs
y_pred = model_reduced.predict(x_test_reduced)

In [14]:
print("R^2 Score:", r2_score(y_test_reduced, y_pred))
print("MAE:", mean_absolute_error(y_test_reduced, y_pred))
print("RMSE:", np.sqrt(mean_squared_error(y_test_reduced, y_pred)))
print("MSE:", mean_squared_error(y_test_reduced, y_pred))

R^2 Score: 0.889936368701407
MAE: 17627.670616438358
RMSE: 29055.532271974964
MSE: 844223955.6077787

In [15]:
# test to see if we can achieve better results 
x_train_grid, x_test_grid, y_train_grid, y_test_grid = train_test_split(x, y, test_size=0.2, random_state=42)

# initialize hyperparameters for gridsearch 
# to see if we get better results 
param_grid = {
    'n_estimators': [100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5],
    'min_samples_leaf': [1, 2],
}

# Initialize random forest regressor 
rf = RandomForestRegressor(random_state=18)

# gridsearch with configured hyperparameters
# and random forest regressor 
grid_search = GridSearchCV(
    estimator=rf,
    param_grid=param_grid,
    cv=10,
    scoring='r2',
    n_jobs=-1,
    verbose=2
)

grid_search.fit(x_train_grid, y_train_grid)
print("Best R^2 score:", grid_search.best_score_)

# capture the best model based on R2 score 
best_model = grid_search.best_estimator_
y_pred = best_model.predict(x_test_grid)
y_pred = best_model.predict(x_test_grid)

Fitting 10 folds for each of 24 candidates, totalling 240 fits
Best R^2 score: 0.8426957203185875

In [16]:
print("R^2 Score:", r2_score(y_test_grid, y_pred))
print("MAE:", mean_absolute_error(y_test_grid, y_pred))
print("RMSE:", np.sqrt(mean_squared_error(y_test_grid, y_pred)))
print("MSE:", mean_squared_error(y_test_grid, y_pred))

R^2 Score: 0.8934886879179356
MAE: 17475.022374357566
RMSE: 28582.800919870428
MSE: 816976508.4249458

In [18]:
print(f"Best Parameters: {grid_search.best_params_}")

Best Parameters: {'max_depth': None, 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 200}

In [17]:
"""
Linear Regression 
R^2 Score: 0.8586917702734673
MAE: 18026.71183032192
RMSE: 30305.77363798688
MSE: 918439915.7969005

Linear Regression w/VarianceThreshold
R^2 Score: 0.8712679913082154
MAE: 19764.26348743131
RMSE: 28925.76943430883
MSE: 836700137.366795

Random Forest
R^2 Score: 0.8831407526623769
MAE: 17924.872020547944
RMSE: 29939.08060388517
MSE: 896348547.4059331

Random Forest w/VarianceThreshold
R^2 Score: 0.889936368701407
MAE: 17627.670616438358
RMSE: 29055.532271974964
MSE: 844223955.6077787

Gridsearch Random Forest
R^2 Score: 0.8934886879179356   - Best
MAE: 17475.022374357566         - Best
RMSE: 28582.800919870428        - Best
MSE: 816976508.4249458          - Best
"""

'\nLinear Regression \nR^2 Score: 0.8586917702734673\nMAE: 18026.71183032192\nRMSE: 30305.77363798688\nMSE: 918439915.7969005\n\nLinear Regression w/VarianceThreshold\nR^2 Score: 0.8712679913082154\nMAE: 19764.26348743131\nRMSE: 28925.76943430883\nMSE: 836700137.366795\n\nRandom Forest\nR^2 Score: 0.8912392195434032\nMAE: 17685.726506849318\nRMSE: 28883.051512095455\nMSE: 834230664.6503596\n\nRandom Forest w/VarianceThreshold\nR^2 Score: 0.895934440597323    - Best\nMAE: 17491.42417808219\nRMSE: 28252.730621161947        - Best\nMSE: 798216787.551942           - Best\n\nGridsearch Random Forest\nR^2 Score: 0.8934886879179356\nMAE: 17475.022374357566         - Best\nRMSE: 28582.800919870428\nMSE: 816976508.4249458\n'